@model IEnumerable<HelpDesk.Persistence.Models.SupportRequest>

@{
    ViewData["Title"] = "Customer";
}

<h2>Your Requests</h2>
<table class="table table-dark table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Subject</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var request in Model)
    {
        <tr>
            <th scope="row">@request.SupportRequestId</th>
            <td>@request.Subject</td>
            <td>@request.RequestStatus.ToString()</td>
        </tr>
    }

    </tbody>
</table>
